$color-primary: #9a19c5;
$color-primary-light: #b834e5;
$color-primary-dark: #6a1287;

$color-grey-light-1: #d9d9d9;
$color-grey-light-2: #cccccc;
$color-grey-light-3: #bfbfbf;
$color-grey-light-4: #a6a6a6;


$font-default: 'Lato', sans-serif;