.splash {
  background-image: 
    linear-gradient(to right, rgba($color-primary-light, 0.35),
    rgba($color-primary-dark, 0.35)),
    url('beach.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}