html(lang="en")
  head
    title Working Page
  body
    h1 Sign In
    form(method='post', action='/login')
      input(type='text', name='username', placeholder='Username')
      input(type='password', name='password', placeholder='Password')
      button(type="submit") Sign Me In!